# Node.js dependencies
node_modules/

# Log files
*.log
logs/
# Environment variables
.env

# Build output
dist/
build/

# OS-specific files
.DS_Store
Thumbs.db

# IDE/Editor specific files
.vscode/
.idea/
*.swp
*.swo



#internals
uploads/
functions/
